<ars-row ars-flex-box>
  <ars-row>
    <mat-tab-group>
      <mat-tab label="{{ 'comment-page.write-comment' | translate }}">
        <ars-row [height]="12"></ars-row>
        <ars-row>
          <mat-divider></mat-divider>
        </ars-row>
        <ars-row [height]="12"></ars-row>
        <ars-row [overflow]="'auto'" style="max-height:calc( 100vh - 250px )">
          <mat-form-field style="width:100%;">
            <textarea (focus)="eventService.makeFocusOnInputTrue()" style="margin-top:15px;width:100%;"
                      (blur)="eventService.makeFocusOnInputFalse()"
                      matInput #commentBody matTextareaAutosize
                      matAutosizeMinRows=5 matAutosizeMaxRows=10  maxlength="250"
                      [formControl]="bodyForm" aria-labelledby="ask-question-description">
            </textarea>
            <mat-placeholder class="placeholder">{{ 'comment-page.enter-comment' | translate }}</mat-placeholder>
            <mat-hint align="end"><span aria-hidden="true">{{commentBody.value.length}} / 250</span></mat-hint>
          </mat-form-field>
        </ars-row>
      </mat-tab>
      <mat-tab label="{{ 'comment-page.preview-comment' | translate }}">
        <ars-row [height]="12"></ars-row>
        <ars-row>
          <mat-divider></mat-divider>
        </ars-row>
        <ars-row [height]="12"></ars-row>
        <ars-row [overflow]="'auto'" style="max-height:calc( 100vh - 250px )">
          <markdown [data]="commentBody.value"></markdown>
        </ars-row>
      </mat-tab>
    </mat-tab-group>
  </ars-row>
  <ars-row>
    <app-dialog-action-buttons
      buttonsLabelSection="comment-page"
      confirmButtonLabel="send"
      [cancelButtonClickAction]="buildCloseDialogActionCallback()"
      [confirmButtonClickAction]="buildCreateCommentActionCallback(commentBody)"
    ></app-dialog-action-buttons>
  </ars-row>
</ars-row>
